<!DOCTYPE html>
<html>
  <head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" %>

    <!-- Title and Meta Tags -->
    <title>Royal Nail — Salon d'onglerie à Lorient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Leaflet CSS -->
    <%= stylesheet_link_tag 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css', media: 'all' %>

    <!-- Application CSS (make sure it's after external links) -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script>
  window.addEventListener('scroll', function () {
    const header = document.querySelector('header');
    if (window.scrollY > 50) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  });
</script>

  </body>
</html>
